.head {
  background-color: white;
  height: 72px;
  justify-content: space-between;
  width: 100vw;
  display: flex;
  padding: 0px 120px;
  align-items: center;
}

.headone {
  width: 225.4px;
  height: 40px;
  gap: 24px;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
}

.headtwo {
  width: 163px;
  height: 40px;
  gap: 24px;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
}

.headtwo1 {
  width: 99px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #0166FF;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

.headtwo2 {
  width: 40px;
  height: 40px;
  background-color: #0166FF;
  border-radius: 20px;
}

.bodyone {
  padding-top:32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodyone1 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color:blue ;
}
.bodyone2 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color:white ;
}
.bodyone3 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color:white ;
}
.bodytwo{
  padding-top:32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodytwo1 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color:white ;
}
.bodytwo2 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color:white ;
}
.bodythree{
  padding-top:32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodythree1 {
  width: 1200px;
  height: 456px;
  border-radius: 18px;
  background-color:white ;
}
.bodyone21{
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  padding: 0px 30px;
}
.bodyone22{
  padding: 0px 30px;
  height: 160px;
  gap:16px
}
.bodyone221{
  width:186px;
  height: 72px;
  gap: 4px
  
}
.bodyone222{
  display: flex;
  width: (199px);
  height:  (28px);
  gap: 8px
}
.bodyone2211{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.bodythree11 {
  width: 1200px;
  height: 56px;
  padding: 16px, 24px, 16px, 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px #E2E8F0 solid;
}
.bodythree12{
  width:  1,200px;
  height: 456px;
  top: 652px;
  left: 120px;
  border-radius: 12px; 
}
.bodythree121{
  width:  1152px;
  height: 80px;
  border: 0px, 0px, 1px, 0px;
  justify-content: space-between;
  border-bottom: 1px #E2E8F0 solid;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-left: 20px;
}