.head {
  background-color: white;
  height: 72px;
  justify-content: space-between;
  width: 100vw;
  display: flex;
  padding: 0px 120px;
  align-items: center;
}
.headone {
  width: 225.4px;
  height: 40px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.headtwo {
  width: 163px;
  height: 40px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.headtwo1 {
  width: 99px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #0166ff;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

.headtwo2 {
  width: 40px;
  height: 40px;
  background-color: #0166ff;
  border-radius: 20px;
}

.bodyone {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodyone1 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: blue;
}
.bodyone2 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: white;
}
.bodyone3 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: white;
}
.bodytwo {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodytwo1 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color: white;
}
.bodytwo2 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color: white;
}
.bodythree {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodythree1 {
  width: 1200px;
  height:50;
  border-radius: 18px;
  background-color: white;
}
.bodyone21 {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  padding: 0px 30px;
}
.bodyone22 {
  padding: 0px 30px;
  height: 160px;
  gap: 16px;
}
.bodyone221 {
  width: 186px;
  height: 72px;
  gap: 4px;
}
.bodyone222 {
  display: flex;
  width: (199px);
  height: (28px);
  gap: 8px;
}
.bodyone2211 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.bodythree11 {
  width: 1200px;
  height: 56px;
  padding: 16px, 24px, 16px, 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px #e2e8f0 solid;
}
.bodythree12 {
  width: 1, 200px;
  height: 456px;
  top: 652px;
  left: 120px;
  border-radius: 12px;
}
.bodythree121 {
  width: 1152px;
  height: 80px;
  border: 0px, 0px, 1px, 0px;
  justify-content: space-between;
  border-bottom: 1px #e2e8f0 solid;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-left: 20px;
}
.records {
  width: 282px;
  height: 1080px;
  left: 120px;
  border-radius: 12px;
  border: 1px;
  gap: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.recordAdd {
  width: 250px;
  height: 88px;
  gap: 24px;
}
.add {
  width: 250px;
  height: 32px;
  border-radius: 20px;
  gap: 4px;
  background-color: #0166ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0;
}
.add:hover {
  background-color: blue;
}
.input {
  width: 250px;
  height: 32px;
  border-radius: 5px;
  gap: 4px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  color: black;
  border: #a3a3a3 solid 1px;
  background-color: #f3f4f6;
}
.category {
  width: 250px;
  height: 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.record_body {
  display: flex;
  margin-top: 24px;
  gap: 24px;
  justify-content: center;
}
.list {
  width: 894px;
  height: 980px;
  top: 176px;
  left: 426px;
}
.date {
  width: 894px;
  height: 95px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.selectAll {
  width: 894px;
  height: 48px;
  border-radius: 12px;
  border: 1px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0px 24px;
}
.selectOne {
  width: 894px;
  height: 64px;
  border-radius: 12px;
  border: 1px;
  justify-content: space-between;
  background-color: white;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0px 24px;
  margin: 12px 0px;
}

.addRecord {
  width: 792px;
  height: 512px;
  top: 256px;
  left: 324px;
  border-radius: 12px;
  background-color:RGB(195,195,195);
}
.addRecordHeader {
  display: flex;
  justify-content: space-between;
  margin:0px 20px;
  border-bottom: 1px #D1D5DB solid;
  height: 68px;
  align-items: center;
}
.addRecordBody{
  display:flex;
}