.head {
  background-color: white;
  height: 72px;
  justify-content: space-between;
  width: 100vw;
  display: flex;
  padding: 0px 120px;
  align-items: center;
}

.headone {
  width: 225.4px;
  height: 40px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.headtwo {
  width: 250px;
  height: 40px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.headtwo1 {
  width: 99px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #0166ff;
  justify-content: center;
  border-radius: 20px;
  color: white;
}

.headtwo2 {
  width: 127px;
  height: 32px;
  background-color: #0166ff;
  border-radius: 20px;
}
.headtwo3 {
  width: 40px;
  height: 40px;
  background-color:blue;
  border-radius: 20px;
}

.bodyone {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodyone1 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: blue;

}
.bodyone2 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: white;
}
.bodyone3 {
  width: 384px;
  height: 216px;
  border-radius: 18px;
  background-color: white;
}
.bodytwo {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodytwo1 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color: white;
}
.bodytwo2 {
  width: 588px;
  height: 284px;
  border-radius: 18px;
  background-color: white;
}
.bodythree {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.bodythree1 {
  width: 1200px;
  height: 456px;
  border-radius: 18px;
  background-color: white;
}
.bodyone21 {
  display: flex;
  align-items: center;
  height: 56px;
  gap: 8px;
  padding: 0px 30px;
}
.bodyone22 {
  padding: 0px 30px;
  height: 160px;
  gap: 16px;
}
.bodyone221 {
  width: 186px;
  height: 72px;
  gap: 4px;
}
.bodyone222 {
  display: flex;
  width: (199px);
  height: (28px);
  gap: 8px;
}
.bodyone2211 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

